.Main_box{

    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.div_editprofile{

    margin-left: 9%;
}

.div_share_profile{

    margin-right: 9%;
}



    .div_editprofile button,
    .div_share_profile button {
        cursor: pointer;
        border-radius: 14px;
        color: white;
        padding: 10px 20px;
        border: none;

        background: linear-gradient(106.1deg, #A880C8 38.8%, rgba(15, 23, 242, 0.582) 99.11%);
        border-radius: 10px;
    }

    .button_editprofile{

        width: 110%;
    }


    @media (min-width: 700px) {
        
        .div_editprofile button,
        .div_share_profile button {
            cursor: pointer;
            background-color: rgb(234, 255, 0);
            background-image: linear-gradient(#c88080, #ff0606);
            border-radius: 14px;
            color: rgb(13, 0, 0);
            padding: 10px 20px;
            border: show;
        }
      }

