.Main_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
  }
  
  .Main_wrapper div {
    align-self: center;
    /* Estilos adicionales para los divs dentro de Main_wrapper */
  }
  
  .login_wrapper{


    display:none;
  }