.Main_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .Main_wrapper div {
    align-self: center;
    
  }


  .dasboard_wrapper{


    display:show;
  }
  
  .login_wrapper{


    display:none;
  }

  .register_wrapper{


    display:none;
  }


 