.Main_box{

 flex-direction: row;
 display: flex;
 margin-top: 5%;

 

  

}

.button_post,
.button_post2 {
  background-color: white;
  color: lightblue;
  border: none;
  width: 330%;
 
 
}


.button_post:focus,
.button_post2:focus {
 
  border: 2px solid #77C8F8
  ;
}

/* .div_edit_change{

   width: 1000%;
}   */
