
    #main_box {
        background-color: white;
        padding: 20px;
    }

    .second_box {
        margin-bottom: 20px;
    }

    .div_content input[type="text"],
    .div2_content input[type="password"] {
        background-color: #FAFAFA;
        border: 1px solid #ccc;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
        border-radius: 9px;
    }

