.Main_box {
    display: flex;
    margin-top: 5%;
    margin-bottom: 10%;
    align-content: center;
  }
  

  .profile_name_div {
   
    margin-left: 5%; 
    
  }
  
  .profile_image_div{
    margin-left: 1.5%; 

  }

  
 